{% extends 'layouts/master.html' %}


{% block title %}
Expense | Update
{% endblock title %}


{% block styles %}

{% endblock styles %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <form class="card mb-3" method="post">
            <div class="card-header">
                <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                        <h5 class="mb-0" data-anchor="data-anchor">
                            <i class="fa-solid fa-sack-dollar fs-1 me-2"></i>
                            Expense Update
                        </h5>
                    </div>
                </div>
            </div>

            <div class="card-body bg-light">

                <!-- Show Alart Message -->
                {% include 'common/message.html' %}

                
                {% csrf_token %}

                <div class="form-group row mb-3">
                    <label class="col-md-3 col-form-label" for="old_password">Category</label>
                    <div class="col-md-8 position-relative">
                        {{form.category}}

                        {% if form.category.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.category.errors %}
                            <p class="fs--1">
                                <span class="fw-bold">Error:</span>
                                <span>{{ error }}</span>
                            </p>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-3 col-form-label" for="old_password">Expense Amount</label>
                    <div class="col-md-8 position-relative">
                        {{form.amount}}

                        {% if form.amount.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.amount.errors %}
                            <p class="fs--1">
                                <span class="fw-bold">Error:</span>
                                <span>{{ error }}</span>
                            </p>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-md-3 col-form-label" for="old_password">Description</label>
                    <div class="col-md-8 position-relative">
                        {{form.description}}

                        {% if form.description.errors %}
                        <div class="invalid-feedback d-block">
                            {% for error in form.description.errors %}
                            <p class="fs--1">
                                <span class="fw-bold">Error:</span>
                                <span>{{ error }}</span>
                            </p>
                            {% endfor %}
                        </div>
                        {% endif %}

                    </div>
                </div>

            </div>


            <div class="form-group row">
                <div class="col-md-10 offset-md-3 card-footer">
                    <button type="submit" class="btn btn-primary ms-2 me-3">
                        <i class="fa fa-save me-2"></i>
                        Submit
                    </button>

                    <a href="{% url 'expense_tracker:expense_list' %}" class="btn btn-secondary">
                        <i class="fa fa-times me-2"></i>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    var fieldErrors = {{ field_errors| safe }};

    $(document).ready(function () {
        if (fieldErrors.name.length > 0) {
            $('#id_name').addClass('is-invalid');
        }
    });

    $(document).ready(function () {
        if (fieldErrors.category.length > 0) {
            $('#id_category').addClass('is-invalid');
        }
    });
</script>
{% endblock js %}